name: "Continuous Integration"
on: 
    push:
        branches: [ main ]
        paths-ignore:
          - 'todos-to-issues.md'
    pull_request:
        paths-ignore:
          - 'todos-to-issues.md'
jobs:
    build:
        runs-on: "ubuntu-latest"
        steps:
            - uses: "actions/checkout@master"
            - name: "TODO to Issue"
              uses: "alstr/todo-to-issue-action@v4.6.8"
              id: "todo"
